* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {

    display: none;


}

body {
    background-color: whitesmoke;

}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    color: rgb(233, 46, 14);
    height: 60px;
    font-size: 2vw;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;


}

.btnHeader {
    background-color: white;
    text-decoration: none;
    border: none;
    color: rgb(233, 46, 14);
}

.btnHeader:hover {

    color: blue;



}

header div p {

    text-align: right;



}

#introduction {
    font-size: 100%;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;

    margin-top: 80px;
}

h1 {
    font-size: 200%;
}

#start-quiz {
    background-color: rgb(233, 46, 14);
}

#playerscore {

    background-color: rgb(233, 46, 14);
}

#back {

    background-color: rgb(233, 46, 14);
}

#clear {

    background-color: rgb(233, 46, 14);
}

#question {

    margin-left: 30%;
    margin-right: 30%;
    justify-content: center;
    margin-top: 80px;

}

#scores {

    margin-left: 30%;
    margin-right: 30%;
    justify-content: center;
    margin-top: 150px;
}

#highscores {

    margin-left: 35%;
    margin-right: 30%;
    justify-content: center;
    margin-top: 150px;

}

#highscores ol li {

    background: rgb(233, 46, 14);
    padding: 5px;
}

ol {
    list-style: none;
    counter-reset: item;
}

li {
    counter-increment: item;
    margin-bottom: 5px;

}

button.btn.btn-secondary {
    background-color:rgb(233, 46, 14);
}